body {
  background-color: #222; /* Define el fondo oscuro del cuerpo del documento */
}

/* Contenedor de las crucetas */
.d-pad-container {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  height: 80vh; /* Altura ajustada al 80% del viewport height */
}

/* Estilo de las crucetas */
.d-pad {
  position: relative; /* Permite posicionar los paneles de pantalla dentro del contenedor */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  height: 200px; /* Ajusta el tamaño según tus necesidades */
  background-color: #333; /* Define el color de fondo de las crucetas */
  border: 2px solid #333;
  border-radius: 10px;
  touch-action: none; /* Para deshabilitar el desplazamiento táctil */
}

/* Estilo de los botones de las crucetas */
.d-pad button {
  background-color: #4b0082; /* Define el color de fondo de los botones */
  border: 1px solid #222; /* Define el borde de los botones */
  border-radius: 50%;
  font-size: 24px;
  color: #222; /* Define el color del texto de los botones */
  cursor: pointer;
}

/* Estilo de los botones activos */
.d-pad button.active {
  background-color: #663399; /* Define el color de fondo de los botones activos */
}

.d-pad button:focus {
  outline: none;
}

/* Posicionamiento de los botones */
.d-pad button.up {
  grid-column: 2;
  grid-row: 1;
}

.d-pad button.left {
  grid-column: 1;
  grid-row: 2;
}

.d-pad button.right {
  grid-column: 3;
  grid-row: 2;
}

.d-pad button.down {
  grid-column: 2;
  grid-row: 3;
}

/* Estilos de los paneles de pantalla */
.screen {
  position: absolute;
  top: -40px; /* Ajusta la posición vertical */
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 30px;
  background-color: #4b0082; /* Define el color de fondo de los paneles de pantalla */
  border: 1px solid #222; /* Define el borde de los paneles de pantalla */
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  color: #222; /* Define el color del texto de los paneles de pantalla */
}